<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="example.android.com.popularmovies">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="AllowBackup">
    <activity
      android:launchMode="singleTop"
      android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:label="@string/action_settings"
      android:name=".SettingsActivity"
      android:parentActivityName=".MainActivity">
    </activity>
    <activity android:name=".DetailsActivity"
      android:parentActivityName=".MainActivity"
      android:label="@string/action_details">
    </activity>

    <!-- The ContentProvider for the favorite movies -->
    <provider
      android:authorities="example.android.com.popularmovies"
      android:name="example.android.com.popularmovies.data.MovieContentProvider"
      android:exported="false"/>

  </application>

</manifest>